services:
  db:
    image: postgres:15-alpine
    container_name: gaia-pruebacris-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=app_db
    ports:
      - "5455:5432" # Using 5455 to avoid conflicts with 5432 (standard) or 5433 (modulo9)
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
    container_name: gaia-pruebacris-backend
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/app_db
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8005:8000"

  frontend:
    build:
      context: ./frontend
    container_name: gaia-pruebacris-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5188:5188"
    environment:
      - VITE_API_BASE_URL=http://localhost:8005/api/v1
    depends_on:
      - backend

volumes:
  postgres_data:
